{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="me">{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox <strong id="n_inbox"></strong></button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived <strong id="n_archive"></strong></button>
    <button class="btn btn-sm btn-outline-primary" id="trashed">Trash <strong id="n_trash"></strong></button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
        <h3 id="title-page"></h3>
    </div>

    <div id="view-email">
    </div>

    <div id="are_you_sure">
        <div id="ays_content">
            <center>
                <h3>Delete email</h3>
                <p>Are you sure you want to permanently delete this email?</p>
                <input id="email_id_for_del" type="hidden" disabled readonly>
                <button class="btn btn-sm btn-outline-primary" id="yes_del" onclick="delete_email_yes();">Yes</button>
                <button class="btn btn-sm btn-outline-primary" id="no_del" onclick="delete_email_no();">No</button>
            </center>
        </div>
    </div>
    

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}